.navbar__suptitle {
  width: 100%;
  padding: 10px;
  background: linear-gradient(0deg, #3f3f3f, #3f3f3f),
    linear-gradient(
      180deg,
      rgba(211, 211, 211, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    );
  .suptitle__wrapper {
    width: 100%;
    display: flex;
    .suptitle__logo {
      display: flex;
      width: 40%;
      color: #fff;
      gap: 10px;
      p {
        font-size: 16px;
        font-weight: 400;
      }
    }
    .suptitle__context {
      p {
        font-size: 18px;
        font-weight: 500;
        color: #fff;
      }
    }
  }
}


@media(max-width:715px){
    .navbar__suptitle{
       .suptitle__wrapper{
        .suptitle__context{
            display: none;
        }
       } 
    }
}